body {
    background-image: url("http://www.oscars.org/sites/oscars/files/styles/news_image_default/public/86th.jpg?itok=sW1J8OCI");
    
}
	
h1 {
	   font-color: gold;
	   font-style: italic;
	   font-size: 45px;
	}
	#spacebox {
		
		border: 10px, 10px; color: red; 
	}